
body{
  background-repeat: no-repeat;
  background-image: url("images/bulldogs3.png");
  background-color: greenyellow;
}
.chessclub{
  width: 400px;
  float:left;
  transition: width 3s;
  color: #a336dd;
  font-size: 40px;
  font-family:"cambria";
  text-shadow: 5px 5px #0be407;
  text-align: left;
  font-weight: bold;
  margin-top: 30px; 
  margin-left: 450px;
  margin-bottom:1px;
  margin-right:250px;
}
.purpose{
  color: #0f57a3;
  width: 38em;
  font-size: 20px;
  text-align: left;
  /*text-decoration: underline solid #38f702;
  text-underline-offset: 6px;*/
  font-family:"Arial";
  font-weight: bold;
  margin-top: 10px;
  margin-right:100px; 
  margin-bottom:10px;
  margin-left:120px;  
}
.learning{
  font-family:"Arial";
  width: 50em;
  top:10px;
  color: greenyellow;
  font-size: 20px;
  margin-right:100px; 
  margin-bottom:10px;
  margin-left:120px;  
}
h1,h2,h3{
  color: #ff000d;
  width: 25em;
  font-size: 30px;
  font-family:"Cambria";
  text-align: left;
  font-weight: bold;
  margin-top: 15px;
  margin-right:100px;
  margin-bottom:10px;
  margin-left:100px;
}
ol{
  position:relative;
  font-family:"Arial";
  text-align: left;
  top: 10px;
}
p{
  color: #0008ff;
  width: 38em;
  font-size: 20px;
  text-align: center;
  font-family:"Arial";
  font-weight: bold;
  margin-top: 10px;
  margin-right:100px; 
  margin-bottom:10px;
  margin-left:120px;  
}
form {
  position:absolute;
  top: 5px;
  left: 1050px;
  width: 360px;
  height: 250px;
  padding-top: 5px;
  padding-right: 20px;
  padding-left: 10px;
  } 
label {
  color: red;
  float: left;
  width: 6em;
  text-align: right;
  font-weight: bold;
}
input {
  width: 10em;
  background-color: #bcb8b8;
  margin-bottom: 10px;
  margin-left:1em;
}
input:required {
background-color: #fbfb79;
border: 1px solid red;
}
submit {
  width: 4em;
  border: 2px solid blue;
  border-radius: 10px 15px 20px 5px;
  padding-top: 5px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 5px;
  font-size: 30px;
  font-family:"Arial";
  text-align: left;
  box-shadow: 10px 10px 10px 10px;
  background-color: #d85bfb;
  color: #403eac;
}
reset {
  position:absolute;
  top:560px;
  left:180px;
  width: 3em;
  border: 2px solid blue;
  border-radius: 10px 15px 20px 5px;
  padding-top: 5px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom:5px;
  font-size: 30px;
  font-family:"Arial";
  text-align: left;
  box-shadow: 10px 10px 10px 10px;
  background-color: #d85bfb;
  color: #403eac;
  
}